---
import BackToTop from "@/components/Buttons/BackToTop.astro";
import Footer from "@/components/Shared/Footer.astro";
import Header from "@/components/Shared/Header.astro";

import "@/styles/global.css"
interface Props {
  title: string
  description?: string
}
  
  const {
  title = "",
  description = 'MVA-FOOD es una plataforma digital diseñada para restaurantes y food trucks que buscan modernizar su operación diaria mediante un sistema eficiente de gestión de menús, productos, colaboradores y promociones. Esta aplicación nace con el objetivo de simplificar la administración gastronómica y ofrecer una experiencia más fluida tanto para el personal del establecimiento como para sus clientes.',

} = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<meta property="og:title" content={title} />
		<meta
		name="description"
		content={description}
		/>
		<link rel="icon" type="image/svg+xml" href="/mva-logo-rb.png" />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/site.png" />
		<meta property="og:url" content={Astro.url} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="/site.png" />
		<link rel="stylesheet" href="/src/styles/global.css">
	</head>
	<body>
		<Header/>
		<slot />
		<BackToTop/>
		<Footer/>
	</body>
</html>
